/* Common ********************/
/* display */
.dn { display: none; }
.di { display: inline; }
.db { display: block; }
.dib { display: inline-block; }
/* float */
.fl { float: left; }
.fr { float: right; }
/* position */
.rel { position: relative; }
.abs { position: absolute; }
/* letter-spacing */
.lt-1 { letter-spacing: -1px; }
.lt0 { letter-spacing: 0; }
.lt1 { letter-spacing: 1px; }
/* white-space */
.nowrap { white-space: nowrap; }
/* word-wrap */
.bk { word-wrap: break-word; }
/* vertical-align */
.vm { vertical-align: middle; }
.vtb { vertical-align: text-bottom; }
.vb { vertical-align: bottom; }
.vt { vertical-align: top; }
.vn { vertical-align: -2px; }
/* text-align */
.tc { text-align: center; }
.tr { text-align: right; }
.tl { text-align: left; }
.tj { text-align: justify; }
/* background-color name rule:  bg - (key word/Hex color) |-> All colors are safe color */
.bgwh { background-color: #fff; }
.bgfb { background-color: #fbfbfb; }
.bgf5 { background-color: #f5f5f5; }
.bgf0 { background-color: #f0f0f0; }
.bgeb { background-color: #ebebeb; }
.bge0 { background-color: #e0e0e0; }
/* safe color */
.g0 { color: #000; }
.g3 { color: #333; }
.g6 { color: #666; }
.g9 { color: #999; }
.gc { color: #ccc; }
.wh { color: white; }
/* font-size */
.f0 { font-size: 0; }
.f10 { font-size: 10px; }
.f12 { font-size: 12px; }
.f13 { font-size: 13px; }
.f14 { font-size: 14px; }
.f16 { font-size: 16px; }
.f18 { font-size: 18px; }
.f20 { font-size: 20px; }
.f24 { font-size: 24px; }
/* margin */
.mt10 { margin-top: 10px; }
.mt15 { margin-top: 15px; }
.mt20 { margin-top: 20px; }
.mb10 { margin-bottom: 10px; }
.mb15 { margin-bottom: 15px; }
.mb20 { margin-bottom: 20px; }
.ml10 { margin-left: 10px; }
.ml15 { margin-left: 15px; }
.ml20 { margin-left: 20px; }
.mr10 { margin-right: 10px; }
.mr15 { margin-right: 15px; }
.mr20 { margin-right: 20px; }

/* 块状元素水平居中 */
.auto { margin-left: auto; margin-right: auto; }
/* 清除浮 动*/
.fix { *zoom: 1; }
.fix:after { display: table; content: ''; clear: both; }
/* 基于display: table-cell的自适应布局 */
.cell { display: table-cell; *display: inline-block; width: 2000px; *width: auto; }
/* 双栏自适应cell部分连续英文字符换行 */
.cell_bk { display: table; width: 100%; table-layout: fixed; word-wrap: break-word; }
/* 单行文字溢出虚点显 示*/
.ell { text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }
/* css3过渡动画效果 */
.trans { 
    -webkit-transition: all 0.3s;    
            transition: all 0.3s;
}
/* 大小不定元素垂直居中 */
.dib_vm { display: inline-block; width: 0; height: 100%; vertical-align: middle; }
/* 无框文本框文本域 */
.bd_none { border: 0; outline: none; }
/* 绝对定位隐藏 */
.abs_out { position: absolute; left: -999em; top: -999em; }
.abs_clip { position: absolute; clip: rect(0 0 0 0); }

/* Button ********************/
.btn { 
    display: inline-block;
    min-width: 48px;
    padding: 4px 12px;
    border: 1px #e3e3e3 solid;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    font-size: 13px;
    line-height: 20px;
    color: #333;
    background-color: #f3f3f3;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
}

.btn:hover,
.btn:focus {
    color: #333;
    background-color: #f5f5f5;
}

.btn.active,
.btn:active {
    color: #333;
    background-color: #efefef;
}

/* 提交按钮 */
.btn-primary {
    color: #fff;
    background-color: #6e9e9e;
    border: none;
}

.btn-primary:hover,
.btn-primary:focus {
    color: #fff;
    background-color: #79a7a7;
}

.btn-primary.active,
.btn-primary:active {
    color: #fff;
    background-color: #619292;
}

/* 重要按钮 */
.btn-danger {
    color: #fff;
    background-color: #fe4e51;
    border: none;
}

.btn-danger:hover,
.btn-danger:focus {
    color: #fff;
    background-color: #fe676a;
}

.btn-danger.active,
.btn-danger:active {
    color: #fff;
    background-color: #fe4346;
}

/* 禁用按钮 */
.btn-disabled {
    color:#fff!important;
    background:#e3e3e3!important;
    cursor: default!important;
}

.btn-disabled:hover,
.btn-disabled:focus {
    text-decoration: none!important;
}

/* 不同尺寸按钮 */
.btn-xsmall {
    padding: 4px 5px;
    font-size: 12px;
    line-height: 12px;
    min-width: 12px;
}

.btn-small {
    padding: 4px 8px;
    font-size: 12px;
    line-height: 20px;
    min-width: 16px;
}

.btn-large {
    padding: 4px 12px;
    font-size: 15px;
    line-height: 24px;
    min-width: 64px;
}

.btn-xlarge {
    padding: 4px 16px;
    font-size: 15px;
    line-height: 28px;
    min-width: 80px;
}

/* 按钮组 */
.btn-group {
    display: inline-block;
}

.btn-group .btn {
    display: inline-block;
    padding: 4px 16px;
    border-right: none;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}

.btn-group .btn:first-child {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    -moz-border-top-left-radius: 2px;
    -moz-border-bottom-left-radius: 2px;
    -webkit-border-top-left-radius: 2px;
    -webkit-border-bottom-left-radius: 2px;
}

.btn-group .btn:last-child {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    -moz-border-top-right-radius: 2px;
    -moz-border-bottom-right-radius: 2px;
    -webkit-border-top-right-radius: 2px;
    -webkit-border-bottom-right-radius: 2px;
    border-right: 1px #e3e3e3 solid;
}

/* 按钮式下拉菜单 */
.btn-select {
    position: relative;
    display: inline-block;
    padding: 4px 28px 4px 12px;
    min-width: 48px;
    cursor: pointer;
    background-color: #f3f3f3;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: 1px #e3e3e3 solid;
    line-height: 20px;
    color: #333;
    font-size: 13px;
    text-align: left;
    vertical-align: middle;
}

.btn-select:hover {
    background-color: #f5f5f5;
}

.btn-select.active,.btn-select:active {
    background-color: #efefef;
}

.btn-select .select-open {
    display: inline;
    position: absolute;
    right: 10px;
    top: 12px;
    width: 0;
    height: 0;
    border-top: 4px solid #000;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.btn-select .option {
    position: absolute;
    top: 100%;
    left: 0;
    height: auto;
    overflow: hidden;
    z-index: 1000;
    margin-top: 0px;
    margin-left: -1px;
    min-width: 124px;
    background-color: #fff;
    border: 1px solid #e3e3e3;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding: 2px 0;
    display: none;
}

.btn-select .option a {
    display: block;
    height: 28px;
    line-height: 28px;
    text-align: left;
    padding: 0 10px;
    width: 100%;
    background-color: #fff;
    color: #666;
}

.option a:hover {
    color: #fff;
    background-color: #6e9e9e;
}




/* Input ********************/
.input-group {

}

.input-group-addon {

}

.form-ctrl {

}

/* Form ********************/
input {
    display: inline-block;
    width: 160px;
    padding: 4px;
    border: 1px #e3e3e3 solid;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    line-height: 20px;
    vertical-align: middle;
    outline: none;
}

.input-small {
    line-height: 16px;
    font-size: 12px;
}

.input-large {
    line-height: 24px;
    font-size: 15px;
}

.input-narrow {
    width: 20px;
}

.input-width {
    width: 260px;
}

/* 文本区 */
textarea {
    display: inline-block;
    padding: 4px;
    border: 1px #e3e3e3 solid;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    line-height: 24px;
    vertical-align: middle;
    outline: none;
    resize: none;
    min-width: 480px;
    min-height: 120px;
}

/* 选择列表 */
select {
    display: inline-block;
    height: 30px;
    padding: 4px 2px;
    border: 1px #e3e3e3 solid;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    line-height: 20px;
    vertical-align: middle;
    outline: none;
}

.select-small {
    height: 26px;
}

.select-large {
    height: 34px;
}

/* 单选 */
input.radio {
    width: inherit;
    vertical-align: -2px;
    _vertical-align: -3px;
    margin-right: 3px;
    margin-left: 20px;
    line-height: 24px;
    display: inline-block;
}

input.radio.radio-first {
    margin-left: 0;
}

/* 多选 */
input.check {
    display: inline-block;
    width: inherit;
    margin-right: 3px;
    margin-left: 20px;
    line-height: 24px;
    vertical-align: -2px;
    _vertical-align: -3px;
}

input.check.check-first {
    margin-left: 0;
}

/* 表单列表 */
.form {
    height: auto;
    overflow: hidden;
    min-width: 480px;
}

.form table {
    width: 100%;
}

.form table td {
    padding: 8px;
    line-height: 28px;
    color: #333;
}

.form table td span {
    color: #999;
}


/* Table ********************/
table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    background-color: transparent;
    font-size: 13px;
    color: #666;
}

.table > thead > tr > th, 
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    padding: 10px;
    border: 1px solid #e3e3e3;
    line-height: 1.428571429;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
}

.table > thead > tr > th {
    border-bottom: 1px solid #e3e3e3;
    border-right: 1px solid #e3e3e3;
    color: #fff;
    background-color: #6e9e9e;
}

.table > thead > tr > th:last-child {
    border-right: none;
}

.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
    border-top: 0;
}

.table > tbody + tbody {
    border-top: 1px solid #e3e3e3;
}

.table {
    background-color: #fff;
}

.table .success td {
    background-color: #dff0d8;
}

.table .warning td {
    background-color: #fcf8e3;
}

.table .danger td {
    background-color: #f2dede;
}

/* 较小行间距 */
.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
    padding: 5px;
}

/* 带边框 */
.table-bordered {
    border: 1px solid #e3e3e3;
}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
    border: 1px solid #e3e3e3;
}

.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
    border-bottom-width: 1px;
}

/* 行数奇偶不同颜色 */
.table-striped > tbody > tr:nth-child(even) > td,
.table-striped > tbody > tr:nth-child(even) > th {
    background-color: #f9f9f9;
}

/* 鼠标移过高亮 */
.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
    background-color: #f5f5f5;
}

table col[class*="col-"] {
    position: static;
    float: none;
    display: table-column;
}

table td[class*="col-"],
table th[class*="col-"] {
    float: none;
    display: table-cell;
}


/* Navs ********************/
.nav {

}

.nav-tabs {

}


/* Breadcrumbs ********************/
.breadcrumb {

}


/* Pagenav ********************/
.pagenav {
    margin: 20px 0 0;
    text-align: right;
}

.pagenav a, 
.pagenav span {
    display: inline-block;
    height: 25px;
    line-height: 27px;
    padding: 0 10px;
    margin-left: 5px;
    border: 1px solid #e3e3e3;
}

.pagenav a:hover, 
.pagenav a.active, 
.pagenav span {
    background-color: #6e9e9e;
    color: #fff;
}


